#product-addtocart-button[disabled],
#product-addtocart-button.disabled,
#product-addtocart-button.addToCartButtonDisabledClass {
  position: relative;
  cursor: auto;
}

#product-addtocart-button[disabled].lock-icon::after,
#product-addtocart-button.disabled.lock-icon::after,
#product-addtocart-button.addToCartButtonDisabledClass.lock-icon::after {
  content: "\01F512";
  position: absolute;
  right: 1em;
}
